*{
  margin: 0;
  padding: 0;
}

body{
  background-color:  #f3e6d8;
}

.container{
  max-width: 650px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 30px;
  margin: 100px auto;
}

#omelette{
  border-radius: 10px;
  max-width: 600px;
}

h1{
  color: #302d2c;
  margin-top: 20px;
  font-family: young serif;
  font-weight: 400;
}

.subtitle{
  color: #854632;
  font-family: young serif;
  font-weight: lighter;
}

p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: outfit;
  color: #5f574e;
  font-size: 16px;
}

/*Preparation time*/
.prepTime{
  padding: 20px;
  background-color:  #fff5fa;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

h3{
  color: #7b284f;
  font-family: outfit;
}

.prepTime li{
  margin-left: 25px;
  margin-top: 10px;
  padding-left:15px;
}

.prepTime li::marker{
  color: #7b284f;
}

/*Ingredients*/
.ingrList{
  list-style-type: square;
  padding-bottom: 15px;
}
.ingrList li::marker{
  color:#854632;
  font-size: 10px;
}
.ingrList li{
  margin-top: 10px;
  padding-left: 15px;
}

/*Instructions*/
.instList{
  font-family: outfit;
  padding-bottom: 3px;
}
.instList li{
  margin: 20px;
  padding-left: 15px;
}

.instList li::marker{
  color:#854632;
  font-weight: bold;
}

li{
  margin-left: 20px;
  font-family: outfit;
  color: #5f574e
} 

/*Horizontal line*/
hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border-color:  hwb(30 85% 11% / 0.3);
}

/*Table*/
table{
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th{
  border-bottom: 1px solid #e3ded9;
  font-family: outfit;
  color: #5f574e;
  font-weight:400;
  padding: 10px;
  padding-left: 30px;
}

td{
  border-bottom: 1px solid #e3ded9;
  font-family: outfit;
  color: #854632;
  font-weight: bold;
}

.fat{
  border-bottom: 1px solid #ffffff;
}